.centered-container
	.col-lg-12
		%h3= t('modules.forgot_pass.enter_new')
		= form_tag do_change_password_path, :class => "form form-horizontal" do
			.field
				.icon
					%i.fa.fa-lock
				.col-lg-12
					= password_field_tag :password, nil, :placeholder => t('activerecord.attributes.user.new_password'), :class => 'form-control'
					= hidden_field_tag :token, @token.value
			.field
				.icon
				.col-lg-12
					=submit_tag t('modules.forgot_pass.btn_change'), :class => 'btn btn-default'
